/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
/*img {
  max-width: 100%;
  height: auto;
}*/
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: FedraSansPro Bold;
  src: url("../fonts/FedraSansPro Bold.otf") format("opentype");
}
@font-face {
  font-family: FedraSansPro Normal;
  src: url("../fonts/FedraSansPro Normal.ttf") format("opentype");
}
@font-face {
  font-family: FedraSansPro Demi;
  src: url("../fonts/FedraSansPro Demi.otf") format("opentype");
}
@font-face {
  font-family: FedraSansPro Light;
  src: url("../fonts/FedraSansPro Light.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'FedraSansPro Normal', sans-serif;
  overflow: hidden;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #303030;
}
@media (min-width: 768px) {
  body {
    font-size: 11px;
    line-height: 11px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 12px;
    line-height: 12px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 13px;
    line-height: 13px;
  }
}
@media (min-width: 1500px) {
  body {
    font-size: 15px;
    line-height: 15px;
  }
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #777;
}
ul {
  list-style-type: none;
}
.block {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  color: red;
  background-color: #c6c6c6;
}
.line {
  width: 95%;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #cccccc;
}
.section__paragraf.margin-40 {
  margin-bottom: 70px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-20 img {
  margin-bottom: 40px;
}
/*head*/
h2.head {
  text-transform: uppercase;
  font-size: 30px;
}
@media (min-width: 768px) {
  h2.head {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  h2.head {
    font-size: 40px;
  }
}
@media (min-width: 1600px) {
  h2.head {
    font-size: 70px;
  }
}
p.paragraf {
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  p.paragraf {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  p.paragraf {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  p.paragraf {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (min-width: 1600px) {
  p.paragraf {
    font-size: 33px;
    line-height: 41px;
  }
}
.section {
  position: relative;
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 35px;
  right: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 16;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 480px) {
  .cmn-toggle-switch {
    right: 20px;
  }
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: #e16e1a;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e16e1a;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
/***********************************/
/* Стили для содержимого popup окна */
input,
textarea {
  color: #000;
  border: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 5px;
  width: 100%;
  line-height: 1.5;
}
input:focus {
  border-color: #808080;
  outline: none;
}
textarea:focus {
  border-color: #808080;
  outline: none;
}
/* Окно */
.overlay_popup {
  /*display: block;*/
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
.popup {
  display: none;
  /*display: block;*/
  position: relative;
  z-index: 1000;
  margin: 0 25% 0 25%;
  width: 50%;
}
/* Ещё немного стилей для popup окна */
.object {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
@media (min-width: 768px) {
  .object {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .object {
    width: 55%;
  }
}
.object h4 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
}
label.error {
  font-size: 12px;
  color: #fff;
}
input[name="phone"] {
  margin-bottom: 20px;
}
/*окно благодарность*/
.contact-form__success {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 34px;
  width: 100%;
  height: auto;
  background-color: #f3f8fb;
  color: #333333;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*крестик закрыть окно*/
#form-close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #aac4d4;
  font-size: 24px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
#form-close:hover {
  color: #fff;
}
input {
  display: block;
  font-size: 14px;
  color: #de9043;
  margin-right: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
input::-webkit-input-placeholder {
  color: #de9043;
  font-size: 17px;
}
input:-ms-input-placeholder {
  color: #de9043;
  font-size: 17px;
}
input::-ms-input-placeholder {
  color: #de9043;
  font-size: 17px;
}
input::placeholder {
  color: #de9043;
  font-size: 17px;
}
@media (min-width: 1200px) {
  input {
    display: inline-block;
    font-size: 17px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1600px) {
  input {
    font-size: 21px;
    margin-bottom: 30px;
  }
}
/*page-form*/
.page-form {
  display: none;
}
@media (min-width: 768px) {
  .page-form {
    display: block;
    max-width: 480px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    border-radius: 15px;
    padding: 20px 15px;
    font-family: 'FedraSansPro Light', sans-serif;
    width: 40%;
    top: 0%;
    right: 10%;
  }
}
@media (min-width: 992px) {
  .page-form {
    top: 10%;
    width: 36%;
  }
}
@media (min-width: 1200px) {
  .page-form {
    top: 12%;
    width: 30%;
  }
}
@media (min-width: 1400px) {
  .page-form {
    top: 30%;
    right: 4%;
  }
}
@media (min-width: 1600px) {
  .page-form {
    width: 40%;
    right: 0%;
    padding: 40px 60px;
  }
}
.page-form p {
  font-size: 33px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .page-form p {
    font-size: 22px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .page-form p {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 1600px) {
  .page-form p {
    font-size: 33px;
    line-height: 33px;
  }
}
/*кнопка формы*/
.contact-form2 input[type="submit"],
.page-form input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #ff6e1a;
  text-align: center;
  color: #fff;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  border-bottom: none;
}
@media (min-width: 992px) {
  .contact-form2 input[type="submit"],
  .page-form input[type="submit"] {
    height: 45px;
  }
}
@media (min-width: 992px) {
  .contact-form2 input[type="submit"],
  .page-form input[type="submit"] {
    height: 55px;
  }
}
.contact-form2 input[type="submit"]:hover,
.page-form input[type="submit"]:hover {
  color: #cccccc;
  background-color: transparent;
  border: 2px solid #ff6e1a;
}
.contact-form2 input[type="submit"]:active,
.page-form input[type="submit"]:active {
  color: #cccccc;
  background-color: #ff6e1a;
  border: 0px solid #ff6e1a;
}
input[type="checkbox"] {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: left;
}
label.subscribe {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
}
/****contact-form2****/
.form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-form2 {
  text-align: center;
  color: #fff;
  font-family: 'FedraSansPro Lyght', sans-serif;
  max-width: 650px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  padding: 15px 30px;
}
.contact-form2 input[type="text"] {
  width: 40%;
  float: left;
  padding: 0;
}
.contact-form2 input[name="phone"] {
  float: right;
}
.contact-form2 h3 {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}
@media (min-width: 1200px) {
  .contact-form2 h3 {
    font-size: 22px;
  }
}
@media (min-width: 1600px) {
  .contact-form2 h3 {
    font-size: 26px;
  }
}
.contact-form2 h5 {
  font-size: 13px;
  text-align: center;
  margin-bottom: 23px;
}
@media (min-width: 992px) {
  .contact-form2 h5 {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .contact-form2 h5 {
    font-size: 13px;
  }
}
@media (min-width: 1600px) {
  .contact-form2 h5 {
    font-size: 17px;
  }
}
.contact-form2 input[type="submit"] {
  width: 70%;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.header-mini__rev {
  display: none;
}
@media (min-width: 768px) {
  .header-mini__rev {
    display: block;
    width: 250px;
    position: absolute;
    left: -15px;
    bottom: 30px;
    left: 0;
  }
}
@media (min-width: 992px) {
  .header-mini__rev {
    bottom: 12%;
  }
}
@media (min-width: 1500px) {
  .header-mini__rev {
    left: -65px;
  }
}
.header-mini__rev ul li a {
  width: 60px;
  margin-right: 10px;
}
#mini-rev.nav-pills > li > a:hover,
#mini-rev.nav-pills > li.active > a,
#mini-rev.nav-pills > li.active > a:hover,
#mini-rev.nav-pills > li.active > a:focus {
  background-color: transparent;
  width: 60px;
  border-radius: 50%;
}
.header-mini__rev img {
  width: 60px;
}
.header-mini__rev p {
  font-family: 'FedraSansPro Light', sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .header-mini__rev p {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .header-mini__rev p {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .header-mini__rev p {
    margin-bottom: 25px;
    font-size: 15px;
  }
}
.line-menu {
  position: fixed;
  z-index: 10;
}
@media (min-width: 768px) {
  .line-menu {
    top: 40%;
    right: 1%;
  }
}
@media (min-width: 1200px) {
  .line-menu {
    right: 2%;
  }
}
@media (min-width: 1400px) {
  .line-menu {
    right: 4%;
  }
}
@media (min-width: 1600px) {
  .line-menu {
    right: 9%;
  }
}
.line-menu__item span.glyphicon-minus {
  color: #e16e1a;
  font-size: 24px;
  line-height: 0;
}
@media (min-width: 992px) {
  .line-menu__item span.glyphicon-minus {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .line-menu__item span.glyphicon-minus {
    font-size: 30px;
  }
}
.line-menu__item span.glyphicon-minus:hover {
  color: #cccccc;
}
.line-menu__item span.glyphicon-minus:active {
  color: #e16e1a;
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 35px;
  background-color: #777;
  color: #fff;
  background: url('../img/bg/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-panel {
  width: 100%;
}
.logo {
  float: left;
  width: 130px;
  margin-left: -20px;
}
@media (min-width: 480px) {
  .logo {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 110px;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 150px;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 216px;
  }
}
/*контакты в топ-панели*/
.top-panel__contact {
  float: right;
  margin-top: -10px;
}
@media (min-width: 1200px) {
  .top-panel__contact {
    padding-top: 10px;
  }
}
.top-panel__contact .contact-item {
  font-family: 'FedraSansPro Demi', sans-serif;
  margin-bottom: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
@media (min-width: 768px) {
  .top-panel__contact .contact-item a,
  .top-panel__contact .contact-item span {
    font-size: 11px;
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .top-panel__contact .contact-item a,
  .top-panel__contact .contact-item span {
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .top-panel__contact .contact-item a,
  .top-panel__contact .contact-item span {
    font-size: 17px;
    margin-left: 35px;
    margin-bottom: 10px;
  }
}
.contact-item.item-phone {
  background-image: url("../img/icons/phone.png");
}
.contact-item.item-clock {
  background-image: url("../img/icons/time.png");
}
.contact-item.item-mail {
  background-image: url("../img/icons/mail.png");
}
/*контакты в топ-панели*/
/*стили для навигации*/
.header__nav {
  position: absolute;
  z-index: 15;
  top: 85px;
  right: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav {
    position: absolute;
    z-index: 15;
    width: 60%;
    top: 0px;
    left: 22%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    left: 25%;
  }
}
@media (min-width: 1500px) {
  .header__nav {
    left: 22%;
  }
}
.header__menu {
  display: none;
  float: right;
}
@media (min-width: 768px) {
  .header__menu {
    display: block;
  }
}
.header__menu a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 10px;
  text-transform: uppercase;
  color: #fff;
}
.header__menu a:active {
  color: #cccccc;
}
@media (min-width: 768px) {
  .header__menu a {
    font-size: 10px;
    padding: 6px 5px;
  }
}
@media (min-width: 992px) {
  .header__menu a {
    font-size: 13px;
    padding: 6px 8px;
  }
}
@media (min-width: 1200px) {
  .header__menu a {
    font-size: 15px;
    padding: 6px 10px;
  }
}
/*class responsive for menu*/
.header__menu.responsive {
  display: block;
  float: none;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(225, 110, 26, 0.95);
}
.header__menu.responsive a {
  display: block;
  color: #fff;
  text-align: center;
}
.header__menu.responsive a:active {
  color: #cccccc;
}
.header__menu a:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #fff;
  -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  left: 50%;
  bottom: 0;
}
@media (min-width: 768px) {
  .header__menu a:before {
    background: #e16e1a;
  }
}
.header__menu a:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 50%;
  bottom: 0;
}
.header__menu a:hover:before {
  width: 50%;
  left: 0;
}
.header__menu a:hover:after {
  width: 50%;
}
/* end class responsive for menu   */
/*основной контент в шапке*/
.header__content {
  width: 100%;
  height: 83vh;
  position: relative;
}
.header__content h1 {
  font-size: 36px;
  font-family: 'FedraSansPro Bold', sans-serif;
  width: 100%;
  line-height: 54px;
  text-transform: uppercase;
  margin-top: 100px;
}
@media (min-width: 500px) {
  .header__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  .header__content h1 {
    text-align: left;
    font-size: 44px;
    line-height: 56px;
    width: 50%;
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .header__content h1 {
    font-size: 60px;
    line-height: 70px;
    width: 50%;
    margin-top: 40px;
  }
}
@media (min-width: 1600px) {
  .header__content h1 {
    font-size: 92px;
    line-height: 104px;
    width: 80%;
  }
}
.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.aboutus {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  height: 100vh;
  background-color: #777;
  background: url('../img/bg/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* @media (min-width:768px){
    	padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (min-width: 992px){
    	padding-top: 100px;
        padding-bottom: 100px;
    }
     @media (min-width: 1200px){
    	padding-top: 130px;
        padding-bottom: 200px;
    }
     @media (min-width: 1600px){
    	padding-top: 165px;
        padding-bottom: 350px;
    }*/
}
.aboutus h2 {
  color: #000;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .aboutus h2 {
    margin-bottom: 45px;
  }
}
@media (min-width: 992px) {
  .aboutus h2 {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .aboutus h2 {
    margin-bottom: 120px;
  }
}
.benefits {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  background-color: #777;
  background: url('../img/bg/bg3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* @media (min-width:768px){
    	padding-top: 60px;
         padding-bottom: 60px;
    }
    @media (min-width: 992px){
    	padding-top: 100px;
        padding-bottom: 70px;

    }
    @media (min-width: 1200px){
        padding-top: 150px;
        padding-bottom: 80px;
    }
    @media (min-width: 1600px){
        padding-top: 200px;
        padding-bottom: 90px;
    }*/
}
.benefits h2 {
  color: #fff;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .benefits h2 {
    margin-bottom: 45px;
  }
}
@media (min-width: 1600px) {
  .benefits h2 {
    margin-bottom: 110px;
  }
}
.benefits-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  /*margin-bottom: 40px;
    flex-wrap: wrap;
    @media (min-width: 768px){
        margin-bottom: 60px;}
    @media (min-width: 992px){
        margin-bottom: 80px;}
    @media (min-width: 1200px){
        margin-bottom: 100px;}*/
}
.benefits-block__item {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .benefits-block__item {
    width: 47%;
  }
}
@media (min-width: 992px) {
  .benefits-block__item {
    width: 23%;
  }
}
.benefits-block__item img {
  width: 110px;
  margin-bottom: 20px;
}
.benefits-block__item-head {
  font-size: 14px;
  line-height: 14px;
  color: #e16e1a;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'FedraSansPro Bold', sans-serif;
}
@media (min-width: 768px) {
  .benefits-block__item-head {
    font-size: 13px;
    line-height: 13px;
  }
}
@media (min-width: 1600px) {
  .benefits-block__item-head {
    font-size: 15px;
    line-height: 15px;
  }
}
.basic-paragraf {
  color: #fff;
}
.service {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  background-color: #777;
  background: url('../img/bg/bg4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  /*@media (min-width:768px){
    	padding-top: 60px;
         padding-bottom: 60px;
    }
    @media (min-width: 992px){
    	padding-top: 100px;
        padding-bottom: 70px;

    }
    @media (min-width: 1200px){
        padding-top: 120px;
        padding-bottom: 80px;
    }
    @media (min-width: 1600px){
        padding-top: 150px;
        padding-bottom: 90px;
    }*/
}
.service__tabs {
  width: 100%;
  margin-bottom: 40px;
}
#service-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.service__tabs {
  /*margin-bottom: 80px;*/
}
ul#service-tabs {
  margin-bottom: 10px;
}
#service-tabs li {
  background-color: #fff;
  width: 19%;
  height: 50px;
  text-align: center;
  color: #e16e1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#service-tabs li a {
  color: #e16e1a;
  font-size: 12px;
}
@media (min-width: 768px) {
  #service-tabs li a {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  #service-tabs li a {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  #service-tabs li a {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  #service-tabs li a {
    font-size: 18px;
  }
}
#service-tabs a.active,
#service-tabs li.active {
  background-color: #ffddbb;
}
#service-tabs.nav-pills > li > a:hover,
#service-tabs.nav-pills > li.active > a,
#service-tabs.nav-pills > li.active > a:hover,
#service-tabs.nav-pills > li.active > a:focus {
  background-color: transparent;
}
#service-tab-content {
  background-color: #fff;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 100px;
  font-size: 10px;
  color: #000;
}
#service-tab-content span {
  color: #e16e1a;
}
.work {
  width: 100%;
  height: 100vh;
  background-color: #777;
  background: url('../img/bg/bg5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1500px) {
  .work {
    padding-top: 90px;
  }
}
.work h2 {
  margin-bottom: 70px;
}
.work__block {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .work__block {
    width: 100%;
  }
}
.work__item {
  width: 19%;
}
.work__item img {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-bottom: 25px;
}
@media (min-width: 1500px) {
  .work__item img {
    width: 145px;
  }
}
.work__item-head {
  font-size: 12px;
}
.line {
  width: 50%;
  height: 3px;
  background-color: #e16e1a;
}
@media (min-width: 992px) {
  .line {
    width: 98%;
  }
}
@media (min-width: 1200px) {
  .line {
    width: 100%;
  }
}
.work__item.line-center {
  padding-top: 75px;
}
.line-vertical {
  width: 3px;
  height: 75px;
  background-color: #e16e1a;
}
@media (min-width: 992px) {
  .line-vertical {
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .line-vertical {
    height: 75px;
  }
}
.work__block-revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.work__item-vertical {
  padding-left: 75px;
}
.work__item .basic-paragraf {
  color: #333;
}
/*# sourceMappingURL=main.css.map */