.benefits {
	width: 100%;
    padding-top: 40px;
	padding-bottom: 40px;
	background-color: #777;
	background: url('../img/bg/bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     @media (min-width:768px){
    	padding-top: 60px;
         padding-bottom: 60px;
    }
    @media (min-width: 992px){
    	padding-top: 100px;
        padding-bottom: 70px;

    }
    @media (min-width: 1200px){
        padding-top: 150px;
        padding-bottom: 80px;
    }
    @media (min-width: 1600px){
        padding-top: 200px;
        padding-bottom: 90px;
    }
}
.benefits h2 {
	
	color: #fff;
    margin-bottom: 60px;
   
    @media (min-width: 768px){
    	margin-bottom: 45px;}
    
    @media (min-width: 992px){
    	margin-bottom: 80px; }
   
	@media (min-width: 1200px){
    	margin-bottom: 120px;}
}

.benefits-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    @media (min-width: 768px){
        margin-bottom: 60px;}
    @media (min-width: 992px){
        margin-bottom: 80px;}
    @media (min-width: 1200px){
        margin-bottom: 100px;}
      
      
    
}
.benefits-block__item {
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
     
     @media (min-width: 768px){
       width: 40%;
      }
    
    @media (min-width: 992px){
        width: 20%;
         }
   
}
.benefits-block__item img {
    width: 145px;
    margin-bottom: 50px;
    
}
.benefits-block__item-head {
   font-size: 14px;
   line-height: 14px;
   color: #e16e1a;
   text-transform: uppercase;
   margin-bottom: 40px;
   font-family: 'FedraSansPro Bold', sans-serif;
    @media (min-width: 768px){
       font-size: 13px;
       line-height: 13px;}
    
    @media (min-width: 992px){
       font-size: 14px;
       line-height: 14px;} 
     @media (min-width: 1200px){
       font-size: 15px;
       line-height: 15px;}   
}
.basic-paragraf {
    color: #fff;
}