@font-face {
font-family: FedraSansPro Bold;
src: url("../fonts/FedraSansPro Bold.otf") format("opentype");
}
@font-face {
font-family: FedraSansPro Normal;
src: url("../fonts/FedraSansPro Normal.ttf") format("opentype");
}
@font-face {
font-family: FedraSansPro Demi;
src: url("../fonts/FedraSansPro Demi.otf") format("opentype");
}
@font-face {
font-family: FedraSansPro Light;
src: url("../fonts/FedraSansPro Light.otf") format("opentype");
}
*{
    box-sizing: border-box;
}
body{
    
   font-family: 'FedraSansPro Normal', sans-serif;
   
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #303030;
}
a{
    text-decoration: none;

    color: #fff;
    &:hover,
    &:focus{
        text-decoration: none;

        color: #777;
    }
}
ul {
    list-style-type:none;
}
.block{
    font-size: 24px;
    font-weight: bold;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;

    text-align: center;

    color: red;
    background-color: #c6c6c6;
}

.line{
    width: 95%;
    height: 2px;
    margin-right: auto;
    margin-left: auto;

    background-color: rgb(204, 204, 204);
}
.section__paragraf.margin-40{
    margin-bottom: 70px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-20 img{
    margin-bottom: 40px;
}
