.header-mini__rev {
	width: 250px;
	position: absolute;
	left: 0;
	bottom: 7%;
	@media (min-width: 1500px){
		left: -65px;
	}
}
.header-mini__rev ul li a{
	width: 60px;
	margin-right: 10px;
}
.header-mini__rev .nav-pills > li > a:hover,
.header-mini__rev .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: transparent;
    width: 60px;
    border-radius:50%;
}
.header-mini__rev img{
		width: 60px;
}
.header-mini__rev p{
	font-family: 'FedraSansPro Light', sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #fff;
	margin-bottom: 25px;
}